<html>
    <head>

    </head>
    <body>
        <h1>Welcome to the blog!!</h1>
        <p>The stories in this blog are so cool, Kindly register yourself to check these out...</p>
        <form>
            <b>First Name: </b><input type="text" name="firstname", placeholder="your first name" required='required'>
            <b>Second Name: </b><input type="text" name="secondname", placeholder="your second name" required='required'><br>
            Email Id: <input type="email" name="email", placeholder="email" required='required'>
            Phone No: <input type="number" name="Phone", placeholder="your telephone number" required='required'>
        </form>
    </body>
</html>