<html>
    <head>

    </head>
    <body>
        <h1>Deployment!!</h1>
       
        <form method="POST", action='/predict'>
            Preg: <br><input type="number" id="preg" name="preg" required='required'><br>
            Plast: <br><input type="number" id="plas" name="plas"  required='required'><br>
            Pres: <br><input type="number" id="pres" name="pres" required='required'><br>
            Skin: <br><input type="number" id="skin" name="skin" required='required'><br>
            Test: <br><input type="number" id="test" name="test" required='required'><br>
            Mass: <br><input type="number" id="mass" name="mass" required='required'><br>
            Pedi: <br><input type="number" id="pedi" name="pedi" required='required'><br>
            Age: <br><input type="number" id="age" name="age" required='required'><br>
            <br><button type="submit">Predict</button>
        </form>

        <!-- <br>
        {{result}} -->
        
    </body>
</html>